
@font-face
 {
    font-family: 'Raleway';
    src: url('Police/Raleway.ttf') format('ttf'),
         url('Police/Raleway-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}


body
{
 font-family: Raleway;
 margin-left: 5%;
 margin-right: 5%;

}

header h1
{
    color:#0065FC;
    font-style: italic;
    
}

nav ul
{
    list-style-type: none;
    display: flex;
    text-decoration: none;
    margin-right: 3px;
    text-align: end;
    position: absolute;
    right: 10%;
    top: 3%;
    
}

nav a
{
    margin-right: 15px;
    color: black;
  text-decoration: none;
    padding-bottom: 3px;
    
}

nav a:hover
{
   text-decoration: overline;
    color: blue;
      
}

#titre
{
    color: blue;
}

.recherche
{
    display: flex;
}

#logo
{
    background-color: grey;
    border:0px grey solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
     height: 10px;
     padding: 10px;
     
     
    
}

button
{
    color: white;
    background-color: blue;
    border: 1px blue solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 30px;        
}

.filtres
{
    display: Flex;
    font-size: 1.1em;
    flex-wrap: nowrap;
          
}

.filtres .fas
{
    position: relative;
    top: 0%;
    left: -3%;
    background-color:rgb(222, 235,255)
}

.fas 
{
    color: #0065FC;
     
}



.filtres p
{   
  
    border:2px rgb(217, 217, 217) solid;
    border-radius: 30px;
    margin-left: 10px;
    padding-right: 1%;  
   text-align: justify;   
}

.filtres p:hover
{
    border:2px rgb(217, 217, 217) solid;
    border-radius: 30px;
    margin-left: 10px;
    padding-right: 1%; 
    color:blue;
    font-weight: bold;

}

.filtres i
{   
    color:#0065FC;
    border-radius: 30px;
   padding: 9px;
   background-color:rgb(222, 235,255);
  
   
    
}


#star
{
    color: #0065FC;
}

.hebergement 
{
   width: 80%;
   background-color: #F2F2F2;
   border: 3px #F2F2F2 solid;
   border-radius: 10px;
   display: flex;
   flex-wrap: wrap;
   margin-right: 5%;
   padding: 2%;
}

.hebergement div
{
    background-color: white;
    border: 0px white solid;
    border-radius: 10px;
    margin-right: 1%;
    margin-bottom: 3%;
   
   
    
}

.hebergement img

{   
    Margin-top: -5%;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
     border: 0px white solid;
    border-radius: 10px;
    width: 230px;
    height: 114px;
   
    
}

.fa-star
{
    color:blue;
}

.Section
{
    display: flex;
}

.hebergement h3
{
    width:100%;
}

.populaires
{  display: flex;
   flex-direction: column;
   width: 35%;
   background-color: #F2F2F2;
   border: 0px #F2F2F2 solid;
   border-radius: 10px;
   padding: 2%;

}

.populaires div
{
    background-color: white;
    border: 2px white solid;
    border-radius: 10px;
    margin-right: 1%;
    margin-bottom: 3%;
    padding-left: 1%;
   padding-bottom: 1%;    
       
}

.populaires img
{
    margin-top: -5%;
    border: 0px white solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 133px;
    height: 126px;
    float: left;
      
}


.activité
{
     text-align: start;
       
         
}

.grille

{  
    display: grid;
    grid-template-columns: [colonne1] 1fr [colonne2] 1fr [colonne3] 1fr  [colonne4] 1fr;
    grid-template-rows: [ligne1]1fr  [ligne2] 1fr;
    
         

}
.vieuxport
{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
   
}


.callanques
{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.frioul

{
    grid-column-start: 2;
    grid-row-start:2;
}

.notre_dame
{
    grid-column-start: 4;
    grid-row-start: 1;
}

.longchamps
{
    grid-column-start: 4;
    grid-row-start: 2;
}


.activité h3
{
    width:100%;
}

.activité figcaption
{
    font-weight: bold;
    padding: 3%;
  }

.activité figure
{  
    box-shadow: 3px 3px 4px 2px rgb(244,244,244);
    border: 1px rgb(244,244,244) solid;
    background-color: white;
    border-radius: 10px;          
            
}

.activité img
{
   
    border: 0px white solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
           
}

.fort img, .frioul img, .notre_dame img, .longchamps img
{
    width: 265px;
    height: 130px;
   
}

.vieuxport img, .callanques img
{
    width: 265px;
    height: 385px;
}

#graph
{
    margin-left: 4%;
}

footer
{
    position: static;
    bottom: 3%;
    display: flex;
    background-color: #F2F2F2;
}

footer ul
{
    list-style-type: none;
    
  
   
}

footer section
{
   width: 33%;
}
